<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-cloud-settings"
        version="1.0.0">

    <name>Cloud Settings</name>
    <description>Cordova Cloud Settings Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,backup,cloud,settings,icloud</keywords>

    <js-module src="www/cloudsettings.js" name="CloudSettingsPlugin">
        <clobbers target="cordova.plugin.cloudsettings" />
    </js-module>

    <platform name="android">
        <preference name="BACKUP_SERVICE_KEY" />

       <config-file target="AndroidManifest.xml" parent="/manifest">
           <!-- Write-file Permission -->
           <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
       </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="com.google.android.backup.api_key" android:value="$BACKUP_SERVICE_KEY" />
        </config-file>

        <edit-config file="AndroidManifest.xml" target="/manifest/application" mode="merge">
            <application android:allowBackup="true" android:backupAgent="cordova.plugin.cloudsettings.BackupAgentHelper" />
        </edit-config>

        <source-file src="src/android/CloudSettingsPlugin.java" target-dir="src/cordova/plugin/cloudsettings" />
        <source-file src="src/android/BackupAgentHelper.java" target-dir="src/cordova/plugin/cloudsettings" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CloudSettingsPlugin" >
                <param name="android-package" value="cordova.plugin.cloudsettings.CloudSettingsPlugin"/>
            </feature>
        </config-file>
    </platform>
</plugin>
